# Домашнее задание для Junior DS по разработке PD модели

<b>Задание:</b> Необходимо разработать модель предсказания дефолта. Даны финансовые данные 32 395 компаний (выручка, активы, пассивы и т.д). Результат будет оцениваться на скрытой выборке из 200 компаний по метрике качества accuracy_score

<b>Цель задания</b> научиться / показать знания в разработке моделей оценки риска - probability of default. Задание приближено к реальному, данные синтетические. Лидерборд для оценки собственного решения и геймификации процесса обучения. Первое место в лидерборде не является целью. Цель - правильно разработанная модель, удовлетворяющая требованиям банковской системы. В случае возникновения вопросов, сотрудники блока Риски готовы проконсультировать и дать обратную связь на модель (телеграм чат).

<b>Метрика качества</b> accuracy_score вычисляется, как ( True positive + True negative ) / Total. Если сабмит-файл, неправильного формата или неверное количество строк, метрика будет = 0.

### Импортируем библиотеки

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from imblearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

### Подгружаем данные

In [2]:
train_df = pd.read_csv('https://raw.githubusercontent.com/BKHV/risk_models/master/data/PD-data-train.csv', sep=';')
test_df = pd.read_csv('https://raw.githubusercontent.com/BKHV/risk_models/master/data/PD-data-test.csv', sep=';')
desc_df = pd.read_csv('https://raw.githubusercontent.com/BKHV/risk_models/master/data/PD-data-desc.csv', sep=';')

In [3]:
train_df.head(10)

,record_id,ar_revenue,ar_total_expenses,ar_sale_cost,ar_selling_expenses,ar_management_expenses,ar_sale_profit,ar_balance_of_rvns_and_expns,ar_profit_before_tax,ar_taxes,ar_other_profit_and_losses,ar_net_profit,ab_immobilized_assets,ab_mobile_current_assets,ab_inventory,ab_accounts_receivable,ab_other_current_assets,ab_cash_and_securities,ab_losses,ab_own_capital,ab_borrowed_capital,ab_long_term_liabilities,ab_short_term_borrowing,ab_accounts_payable,ab_other_borrowings,bus_age,ogrn_age,adr_actual_age,head_actual_age,cap_actual_age,ul_staff_range,ul_capital_sum,ul_founders_cnt,ul_branch_cnt,ul_strategic_flg,ul_systematizing_flg,default_12m
0,7,52996000.0,48344000.0,48344000.0,0.0,0.0,4652000.0,-2608000.0,2044000.0,846000.0,0.0,1198000.0,0.0,7240000.0,4988000.0,2252000.0,0.0,255000.0,1198000.0,663000.0,15872000.0,0.0,11349000.0,4523000.0,0.0,198,136,3,3,3,[1-100],50000.0,2,0,0,0,0
1,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256,135,12,12,12,[1-100],10000.0,5,0,0,0,0
2,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,33,28,28,28,[1-100],10000.0,2,0,0,0,0
3,22,32049000.0,29568000.0,29568000.0,0.0,0.0,2481000.0,-260000.0,2221000.0,302000.0,0.0,1919000.0,0.0,4245000.0,4082000.0,163000.0,0.0,25000.0,1919000.0,2219000.0,3652000.0,0.0,3652000.0,0.0,0.0,185,139,8,8,8,[1-100],300000.0,1,0,0,0,0
4,23,16458000.0,14935000.0,14935000.0,0.0,0.0,1523000.0,-274000.0,1249000.0,538000.0,0.0,711000.0,0.0,8950000.0,8606000.0,344000.0,0.0,492000.0,711000.0,12439000.0,1279000.0,0.0,0.0,1279000.0,0.0,220,138,27,27,27,[1-100],10000.0,2,0,0,0,0
5,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,100,5,5,5,[1-100],350000.0,1,0,0,0,0
6,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,266,27,7,7,7,[1-100],35000.0,3,0,0,0,0
7,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,31,30,30,30,[1-100],10000.0,2,0,0,0,0
8,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,27,26,26,26,[1-100],10000.0,1,0,0,0,0
9,40,125432000.0,122655000.0,122655000.0,0.0,0.0,2777000.0,-63000.0,2714000.0,579000.0,0.0,2135000.0,0.0,24680000.0,8263000.0,16417000.0,0.0,106000.0,2135000.0,11267000.0,11912000.0,0.0,13000.0,11899000.0,0.0,170,132,15,15,15,(100-500],10000.0,2,0,0,0,0

Описание данных

In [4]:
desc_df.head(50)

,field,desc_eng,desc_rus
0,ar_revenue,Sales revenue (at the end of the last year),Выручка от реализации (на конец последнего года)
1,ar_total_expenses,Total expenses for the last year,Общие расходы за последний год
2,ar_sale_cost,Cost of sales (at the end of the last year),Себестоимость продаж (на конец последнего года)
3,ar_selling_expenses,Selling expenses (at the end of the last year),Коммерческие расходы (на конец последнего года)
4,ar_management_expenses,Administrative expenses (at the end of the las...,Управленческие расходы (на конец последнего года)
5,ar_sale_profit,Profit from sales (at the end of the last year),Прибыль от реализации (на конец последнего года)
6,ar_balance_of_rvns_and_expns,Balance of income and expenses (at the end of ...,Баланс доходов и расходов (на конец последнего...
7,ar_profit_before_tax,Gross Profit (end of last year),Валовая прибыль (на конец последнего года)
8,ar_taxes,Current income tax (at the end of the last year),Текущий на налог на прибыль (на конец последне...
9,ar_other_profit_and_losses,Other income and expenses (at the end of the l...,Прочие доходы и расходы (на конец последнего г...
10,ar_net_profit,Net profit (at the end of the last year),Чистая прибыль (на конец последнего года)
11,ab_immobilized_assets,Fixed assets for the last year,Основные внеоборотные средства за последний год
12,ab_mobile_current_assets,Current assets (at the end of the last year),Оборотные активы (на конец последнего года)
13,ab_inventory,Stocks (at the end of the last year),Запасы (на конец последнего года)
14,ab_accounts_receivable,Accounts receivable (at the end of the last year),Дебиторская задолженность (на конец последнего...
15,ab_other_current_assets,Other current assets (at the end of the last y...,Прочие оборотные активы (на конец последнего г...
16,ab_cash_and_securities,Cash and cash equivalents (at the end of the l...,Денежные средства и денежные эквиваленты (на к...
17,ab_losses,Retained earnings (at the end of the last year),Нераспределенная прибыль (на конец последнего ...
18,ab_own_capital,Capital (at the end of the last year),Капитал (на конец последнего года)
19,ab_borrowed_capital,Total debt (end of last year),Общие долговые обязательства (на конец последн...
20,ab_long_term_liabilities,Long-term liabilities (at the end of the last ...,Долгосрочный обязательства (на конец последнег...
21,ab_short_term_borrowing,Short-term borrowed funds (at the end of the l...,Краткосрочные заемные средства (на конец после...
22,ab_accounts_payable,Accounts payable for the last year,Кредиторская задодженность за последний год
23,ab_other_borrowings,Other liabilities (at the end of the last year),Прочие обязательства (на конец последнего года)
24,bus_age,Business duration,Срок ведения бизнеса
25,ogrn_age,Term from the moment the PSRN was assigned,Срок с момента присваивания ОГРН
26,adr_actual_age,Term from the date of registration of the lega...,Срок с момента регистрации юридического адреса
27,head_actual_age,Term since the appointment of the head,Срок с момента назначения руководителя
28,cap_actual_age,Term from the moment of capital installation,Срок с момента установки капитала
29,ul_staff_range,The number of employees,Количество сотрудников
30,ul_capital_sum,Capital amount,Величина капитала
31,ul_founders_cnt,Number of shareholders,Количество акционеров
32,ul_branch_cnt,Number of branches,Количество филиалов
33,ul_strategic_flg,A company of strategic importance,Компания стратегического значения
34,ul_systematizing_flg,Backbone company,Системообразующая компания

Данные нам признаки отражают финансовую отчетность компании. Но сами по себе достаточно слабо отражают ее финансовую устойчивость. Для ее отображения из исходных данных рассчитаем финансовые мультипликаторы

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32395 entries, 0 to 32394
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     32395 non-null  int64
 1   ar_revenue                    17250 non-null  float64
 2   ar_total_expenses             17250 non-null  float64
 3   ar_sale_cost                  17250 non-null  float64
 4   ar_selling_expenses           17250 non-null  float64
 5   ar_management_expenses        17250 non-null  float64
 6   ar_sale_profit                17250 non-null  float64
 7   ar_balance_of_rvns_and_expns  17250 non-null  float64
 8   ar_profit_before_tax          17250 non-null  float64
 9   ar_taxes                      17250 non-null  float64
 10  ar_other_profit_and_losses    17250 non-null  float64
 11  ar_net_profit                 17250 non-null  float64
 12  ab_immobilized_assets         17250 non-null  float64
 13  ab_mobile_current_assets      17250 non-null  float64
 14  ab_inventory                  17250 non-null  float64
 15  ab_accounts_receivable        17250 non-null  float64
 16  ab_other_current_assets       17250 non-null  float64
 17  ab_cash_and_securities        17250 non-null  float64
 18  ab_losses                     17250 non-null  float64
 19  ab_own_capital                17250 non-null  float64
 20  ab_borrowed_capital           17250 non-null  float64
 21  ab_long_term_liabilities      17250 non-null  float64
 22  ab_short_term_borrowing       17250 non-null  float64
 23  ab_accounts_payable           17250 non-null  float64
 24  ab_other_borrowings           17250 non-null  float64
 25  bus_age                       32395 non-null  int64
 26  ogrn_age                      32395 non-null  int64
 27  adr_actual_age                32395 non-null  int64
 28  head_actual_age               32395 non-null  int64
 29  cap_actual_age                32395 non-null  int64
 30  ul_staff_range                32395 non-null  object
 31  ul_capital_sum                32395 non-null  float64
 32  ul_founders_cnt               32395 non-null  int64
 33  ul_branch_cnt                 32395 non-null  int64
 34  ul_strategic_flg              32395 non-null  int64
 35  ul_systematizing_flg          32395 non-null  int64
 36  default_12m                   32395 non-null  int64
dtypes: float64(25), int64(11), object(1)
memory usage: 9.0+ MB

У нас есть 1 категориальный признак, посмотрим на него

In [6]:
train_df['ul_staff_range'].value_counts()

[1-100]      29281
(100-500]     2757
> 500          357
Name: ul_staff_range, dtype: int64

У него всего 3 значения, которые отражают растущую последовательность, значит можно применить label encoding для его кодирования

In [7]:
le = preprocessing.LabelEncoder()
le.fit(train_df['ul_staff_range'])
train_df['ul_staff_range'] = le.transform(train_df['ul_staff_range'])
test_df['ul_staff_range'] = le.transform(test_df['ul_staff_range'])

In [8]:
train_df.nunique()

record_id                       32395
ar_revenue                      12893
ar_total_expenses               12779
ar_sale_cost                    12664
ar_selling_expenses              1994
ar_management_expenses           1093
ar_sale_profit                   7163
ar_balance_of_rvns_and_expns     5063
ar_profit_before_tax             6526
ar_taxes                         2247
ar_other_profit_and_losses        595
ar_net_profit                    6231
ab_immobilized_assets            3498
ab_mobile_current_assets        11222
ab_inventory                     9143
ab_accounts_receivable           8283
ab_other_current_assets          1210
ab_cash_and_securities           3677
ab_losses                        6175
ab_own_capital                   9090
ab_borrowed_capital             10261
ab_long_term_liabilities         2294
ab_short_term_borrowing          4896
ab_accounts_payable              8797
ab_other_borrowings              1437
bus_age                           315
ogrn_age                          150
adr_actual_age                     33
head_actual_age                    33
cap_actual_age                     33
ul_staff_range                      3
ul_capital_sum                   2980
ul_founders_cnt                   278
ul_branch_cnt                      13
ul_strategic_flg                    2
ul_systematizing_flg                1
default_12m                         2
dtype: int64

In [9]:
# Удалим признак record_id так как он не несет информативности для нашей задачи
# Так же удалим ul_systematizing_flg, так как у него 1 уникальное значение
train_df = train_df.drop(['record_id','ul_systematizing_flg'],axis = 1)

In [10]:
# Проверим выборку на дубликаты
train_df.duplicated().sum()

5805

In [11]:
train_df = train_df.drop_duplicates()

В наших данных большое содержание пропусков, давайте сгруппироуем объекты по кол-ву пропусков и посмотрим на их кол-во

In [12]:
count_nan_in_objects = pd.DataFrame(train_df.isnull().T.sum()).reset_index().groupby(0).count().reset_index()

In [13]:
count_nan_in_objects.columns = ['Количесвоо пропусков в объекте','Количество объектов с этим количеством пропусков']

In [14]:
count_nan_in_objects

,Количесвоо пропусков в объекте,Количество объектов с этим количеством пропусков
0,0,16375
1,24,10215

ЗАметим, что в нашей выборке можно выделить 2 подвыборки по кол-ву пропусков. Посмотрим на объекты

In [15]:
# Посмотрим на пример объекта с 24 пропусками
sum_null_in_object = pd.DataFrame(train_df.isnull().T.sum(),columns = ['count_nans'])
ids_with_24_nans = sum_null_in_object.query('count_nans == 24').index
train_df.loc[ids_with_24_nans,:]

,ar_revenue,ar_total_expenses,ar_sale_cost,ar_selling_expenses,ar_management_expenses,ar_sale_profit,ar_balance_of_rvns_and_expns,ar_profit_before_tax,ar_taxes,ar_other_profit_and_losses,ar_net_profit,ab_immobilized_assets,ab_mobile_current_assets,ab_inventory,ab_accounts_receivable,ab_other_current_assets,ab_cash_and_securities,ab_losses,ab_own_capital,ab_borrowed_capital,ab_long_term_liabilities,ab_short_term_borrowing,ab_accounts_payable,ab_other_borrowings,bus_age,ogrn_age,adr_actual_age,head_actual_age,cap_actual_age,ul_staff_range,ul_capital_sum,ul_founders_cnt,ul_branch_cnt,ul_strategic_flg,default_12m
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256,135,12,12,12,2,10000.0,5,0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,33,28,28,28,2,10000.0,2,0,0,0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,100,5,5,5,2,350000.0,1,0,0,0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,266,27,7,7,7,2,35000.0,3,0,0,0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,31,30,30,30,2,10000.0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,40,6,6,6,2,10000.0,2,0,0,0
32366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,107,19,19,19,2,10000.0,1,0,0,0
32383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136,136,23,23,23,2,9408.0,2,0,0,0
32387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237,139,2,2,2,2,161799.0,18,0,0,0
32389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,24,3,3,3,2,10000.0,4,0,0,0

Заметим, что у объектов с 24 пропусками отсутсвует финансовая отчетность. Поэтому эти подмножества стоит рассматривать отдельно. Но перед этим убедимся, что эти подмножества присутсвует и в тестовой выборке

In [16]:
pd.DataFrame(test_df.isnull().T.sum(),columns = ["Кол-во пропусков"]).reset_index().groupby("Кол-во пропусков").count()

                  index
Кол-во пропусков
0                    82
24                  118

Отлично, группы такие же. Рззделим данные на две подвыборки. Это можно сделать по принципу: 1 группа-0 пропусков, 2 группа - 24 пропуска. Но лучше и проще сделать по наличию одного из финансовых показателей, ведь как мы помним у группы с 24 пропусками отсутсвует финансовая отчетность. Поэтому в нашем случае критерием разделения станет наличие прпуска в параметре ar_revenue

In [17]:
train_df_part_1 = train_df[train_df['ar_revenue'].isnull()]
train_df_part_2 = train_df[~train_df['ar_revenue'].isnull()]

test_records_id_part_1 = test_df[test_df['ar_revenue'].isnull()]['record_id']
test_records_id_part_2 = test_df[~test_df['ar_revenue'].isnull()]['record_id']
test_df = test_df.drop('record_id',axis = 1)
test_df_part_1 = test_df[test_df['ar_revenue'].isnull()]
test_df_part_2 = test_df[~test_df['ar_revenue'].isnull()]

In [18]:
def make_features(frame_input):
    frame = frame_input.copy()
    # Доля дохода, которая учитывает пост-оплату
    frame['frac_post_pay'] = frame['ab_accounts_receivable']/frame['ar_revenue']
    frame['OPEX'] = frame['ar_total_expenses'] - frame['ar_selling_expenses'] - frame["ar_management_expenses"]
    # ДОля операционных расходов
    frame['OER'] = frame['OPEX']/frame['ar_revenue']
    frame['frac_comer_exp'] = frame['ar_selling_expenses' ]/ frame['ar_total_expenses']
    frame['Net_margin'] = frame['ar_net_profit']/frame['ar_revenue']
    frame['gross_profit_margin'] = (frame['ar_revenue'] - frame['ar_sale_cost'])/frame['ar_revenue']
    frame['OP_Margin'] = frame['OPEX']/frame['ar_revenue']
    frame['ROE'] = frame['ar_net_profit']/frame['ab_own_capital']
    frame['ROA'] = frame['ar_net_profit']/(frame['ab_own_capital'] + frame['ab_borrowed_capital'])
    frame['Debt/EBIT'] = (frame['ab_long_term_liabilities'] + frame['ab_other_borrowings'] + frame['ab_short_term_borrowing'])/frame['ar_profit_before_tax']
    frame['Debt_ratio'] = (frame['ab_long_term_liabilities'] + frame['ab_other_borrowings'] + frame['ab_short_term_borrowing'])/(frame['ab_own_capital'] + frame['ab_borrowed_capital'])
    frame['tax_ratio'] = frame['ar_taxes']/frame['ar_profit_before_tax']
    frame['time_gap'] = frame['ab_accounts_payable']/(frame['ab_cash_and_securities']+frame['ab_accounts_receivable'])
    frame['borrowing_balance'] = frame['ab_accounts_receivable']/frame['ab_accounts_payable']
    frame['Debt/Equity'] = (frame['ab_long_term_liabilities'] + frame['ab_other_borrowings'] + frame['ab_short_term_borrowing'])/frame['ab_own_capital']
    frame['current_ratio'] = (frame['ab_mobile_current_assets']+frame['ab_other_current_assets'])/(frame['ab_short_term_borrowing']+frame['ab_other_borrowings'])
    frame['cash_ratio'] = frame['ab_cash_and_securities']/frame['ab_short_term_borrowing']
    frame['fast_pay'] = (frame['ab_cash_and_securities']+frame['ab_accounts_receivable'])/(frame['ab_own_capital'] + frame['ab_borrowed_capital'])
    frame['tumover_ratio'] = frame['ar_revenue']/(frame['ab_own_capital'] + frame['ab_borrowed_capital'])
    return frame

Так как у выборок с суфиксом _part_1 нет финансовой отчетности, то и новые признаки создавать не из чего

In [19]:
train_df_part_2_new_features = make_features(train_df_part_2)
test_df_part_2_new_features = make_features(test_df_part_2)

Проверим кол-во уникальных значений в получившихся выборках

In [20]:
train_df_part_2_new_features.nunique()

ar_revenue                      12893
ar_total_expenses               12779
ar_sale_cost                    12664
ar_selling_expenses              1994
ar_management_expenses           1093
ar_sale_profit                   7163
ar_balance_of_rvns_and_expns     5063
ar_profit_before_tax             6526
ar_taxes                         2247
ar_other_profit_and_losses        595
ar_net_profit                    6231
ab_immobilized_assets            3498
ab_mobile_current_assets        11222
ab_inventory                     9143
ab_accounts_receivable           8283
ab_other_current_assets          1210
ab_cash_and_securities           3677
ab_losses                        6175
ab_own_capital                   9090
ab_borrowed_capital             10261
ab_long_term_liabilities         2294
ab_short_term_borrowing          4896
ab_accounts_payable              8797
ab_other_borrowings              1437
bus_age                           294
ogrn_age                          146
adr_actual_age                     33
head_actual_age                    33
cap_actual_age                     33
ul_staff_range                      3
ul_capital_sum                   2318
ul_founders_cnt                   271
ul_branch_cnt                      12
ul_strategic_flg                    2
default_12m                         2
frac_post_pay                   12686
OPEX                            12664
OER                             13674
frac_comer_exp                   2147
Net_margin                      13706
gross_profit_margin             13674
OP_Margin                       13674
ROE                             12951
ROA                             13783
Debt/EBIT                        9670
Debt_ratio                       9855
tax_ratio                        7730
time_gap                        13186
borrowing_balance               12466
Debt/Equity                      9787
current_ratio                    9033
cash_ratio                       7586
fast_pay                        13387
tumover_ratio                   13869
dtype: int64

Признаков с 1 уникальным значением не найдено

In [21]:
train_df_part_1.nunique()

ar_revenue                        0
ar_total_expenses                 0
ar_sale_cost                      0
ar_selling_expenses               0
ar_management_expenses            0
ar_sale_profit                    0
ar_balance_of_rvns_and_expns      0
ar_profit_before_tax              0
ar_taxes                          0
ar_other_profit_and_losses        0
ar_net_profit                     0
ab_immobilized_assets             0
ab_mobile_current_assets          0
ab_inventory                      0
ab_accounts_receivable            0
ab_other_current_assets           0
ab_cash_and_securities            0
ab_losses                         0
ab_own_capital                    0
ab_borrowed_capital               0
ab_long_term_liabilities          0
ab_short_term_borrowing           0
ab_accounts_payable               0
ab_other_borrowings               0
bus_age                         302
ogrn_age                        148
adr_actual_age                   33
head_actual_age                  33
cap_actual_age                   33
ul_staff_range                    3
ul_capital_sum                  964
ul_founders_cnt                  55
ul_branch_cnt                     9
ul_strategic_flg                  1
default_12m                       2
dtype: int64

Кроме 24 признаков с отсутвием значений есть признак ul_strategic_flg, которых хранит в себе только 1 уникальное значение. Добавим его в список на удаление

Теперь же очистим наши выборки от ненужных столбцов. Для _part_2 это все абсолютные значения финансовых показателей. А для _part_1 это все переменные отвечающие за финансовую отчетность + ul_strategic_flg

In [22]:
# Выборки с фин отчетностью
train_df_part_2_new_features = train_df_part_2_new_features.drop(['ar_revenue','ar_other_profit_and_losses','ar_profit_before_tax', 'ar_taxes', 'ar_total_expenses', 'ar_sale_cost', 'ar_selling_expenses', 'ar_management_expenses','ar_sale_profit', 'ar_balance_of_rvns_and_expns'], axis = 1)
test_df_part_2_new_features = test_df_part_2_new_features.drop(['ar_revenue','ar_other_profit_and_losses','ar_profit_before_tax', 'ar_taxes', 'ar_total_expenses', 'ar_sale_cost', 'ar_selling_expenses', 'ar_management_expenses','ar_sale_profit', 'ar_balance_of_rvns_and_expns'], axis = 1)
# Выборки без фин отчетности
first_24_columns = train_df_part_1.iloc[:,:24].columns.tolist()
train_df_part_1 = train_df_part_1.drop(first_24_columns+['ul_strategic_flg'], axis = 1)
test_df_part_1 = test_df_part_1.drop(first_24_columns+['ul_strategic_flg'], axis = 1)

Посмотрим на новые признаки

In [23]:
train_df_part_2_new_features.head(20)

,ar_net_profit,ab_immobilized_assets,ab_mobile_current_assets,ab_inventory,ab_accounts_receivable,ab_other_current_assets,ab_cash_and_securities,ab_losses,ab_own_capital,ab_borrowed_capital,ab_long_term_liabilities,ab_short_term_borrowing,ab_accounts_payable,ab_other_borrowings,bus_age,ogrn_age,adr_actual_age,head_actual_age,cap_actual_age,ul_staff_range,ul_capital_sum,ul_founders_cnt,ul_branch_cnt,ul_strategic_flg,default_12m,frac_post_pay,OPEX,OER,frac_comer_exp,Net_margin,gross_profit_margin,OP_Margin,ROE,ROA,Debt/EBIT,Debt_ratio,tax_ratio,time_gap,borrowing_balance,Debt/Equity,current_ratio,cash_ratio,fast_pay,tumover_ratio
0,1198000.0,0.0,7240000.0,4988000.0,2252000.0,0.0,255000.0,1198000.0,663000.0,15872000.0,0.0,11349000.0,4523000.0,0.0,198,136,3,3,3,2,50000.0,2,0,0,0,0.042494,48344000.0,0.912220,0.000000,0.022605,0.087780,0.912220,1.806938,0.072452,5.552348,0.686362,0.413894,1.804148,0.497900,17.117647,0.637942,0.022469,0.151618,3.205080
3,1919000.0,0.0,4245000.0,4082000.0,163000.0,0.0,25000.0,1919000.0,2219000.0,3652000.0,0.0,3652000.0,0.0,0.0,185,139,8,8,8,2,300000.0,1,0,0,0,0.005086,29568000.0,0.922587,0.000000,0.059877,0.077413,0.922587,0.864804,0.326861,1.644304,0.622041,0.135975,0.000000,inf,1.645786,1.162377,0.006846,0.032022,5.458866
4,711000.0,0.0,8950000.0,8606000.0,344000.0,0.0,492000.0,711000.0,12439000.0,1279000.0,0.0,0.0,1279000.0,0.0,220,138,27,27,27,2,10000.0,2,0,0,0,0.020902,14935000.0,0.907461,0.000000,0.043201,0.092539,0.907461,0.057159,0.051830,0.000000,0.000000,0.430745,1.529904,0.268960,0.000000,inf,inf,0.060942,1.199738
9,2135000.0,0.0,24680000.0,8263000.0,16417000.0,0.0,106000.0,2135000.0,11267000.0,11912000.0,0.0,13000.0,11899000.0,0.0,170,132,15,15,15,0,10000.0,2,0,0,0,0.130884,122655000.0,0.977861,0.000000,0.017021,0.022139,0.977861,0.189491,0.092109,0.004790,0.000561,0.213338,0.720148,1.379696,0.001154,1898.461538,8.153846,0.712844,5.411450
10,104000.0,0.0,38004000.0,23189000.0,14815000.0,0.0,449000.0,104000.0,10000.0,38443000.0,0.0,4986000.0,33457000.0,0.0,29,29,4,4,4,2,10000.0,2,0,0,0,0.248699,59331000.0,0.995988,0.000000,0.001746,0.004012,0.995988,10.400000,0.002705,35.112676,0.129665,0.267606,2.191889,0.442807,498.600000,7.622142,0.090052,0.396952,1.549164
11,21608000.0,2094000.0,106180000.0,1180000.0,105000000.0,0.0,557000.0,21608000.0,90313000.0,18518000.0,0.0,7500000.0,11018000.0,0.0,102,102,4,4,4,1,300000.0,2,0,0,0,0.582929,142075000.0,0.788758,0.103724,0.119961,0.211242,0.788758,0.239257,0.198546,0.347094,0.068914,0.000000,0.104380,9.529860,0.083045,14.157333,0.074267,0.969917,1.655089
12,71000.0,1269000.0,35349000.0,28034000.0,7237000.0,78000.0,2008000.0,71000.0,94000.0,38532000.0,2866000.0,0.0,35666000.0,0.0,24,24,7,7,7,2,21000.0,1,0,0,0,0.204580,4710000.0,0.133145,0.830635,0.002007,0.866855,0.133145,0.755319,0.001838,32.202247,0.074199,0.202247,3.857869,0.202910,30.489362,inf,inf,0.239347,0.915834
14,855000.0,0.0,11564000.0,8770000.0,2794000.0,0.0,606000.0,855000.0,865000.0,0.0,0.0,0.0,0.0,0.0,20,20,16,16,16,2,10000.0,1,0,0,0,0.120733,22064000.0,0.953418,0.000000,0.036946,0.046582,0.953418,0.988439,0.988439,0.000000,0.000000,0.200187,0.000000,inf,0.000000,inf,inf,3.930636,26.753757
15,157000.0,0.0,3879000.0,1643000.0,2236000.0,0.0,213000.0,157000.0,219000.0,3873000.0,0.0,2387000.0,1486000.0,0.0,48,48,16,16,16,2,10000.0,1,0,0,0,0.138469,15893000.0,0.984209,0.000000,0.009723,0.015791,0.984209,0.716895,0.038368,12.116751,0.583333,0.203046,0.606778,1.504711,10.899543,1.625052,0.089233,0.598485,3.946237
16,0.0,10000.0,0.0,0.0,0.0,0.0,150000.0,0.0,10000.0,150000.0,0.0,150000.0,0.0,0.0,20,20,4,4,4,2,10000.0,1,0,0,0,0.000000,146000.0,0.169767,0.182482,0.000000,0.830233,0.169767,0.000000,0.000000,inf,0.937500,NaN,0.000000,NaN,15.000000,0.000000,1.000000,0.937500,5.375000
18,6677000.0,0.0,19951000.0,478000.0,19473000.0,0.0,10000.0,6677000.0,19393000.0,3283000.0,0.0,0.0,3283000.0,0.0,110,110,2,2,2,2,1003750.0,1,0,0,0,0.167106,109854000.0,0.942702,0.000000,0.057298,0.057298,0.942702,0.344299,0.294452,0.000000,0.000000,0.000000,0.168506,5.931465,0.000000,inf,inf,0.859190,5.138957
19,3809000.0,15190000.0,42655000.0,27666000.0,7020000.0,7969000.0,1410000.0,3809000.0,3764000.0,55491000.0,33928000.0,0.0,21563000.0,0.0,73,73,23,23,23,2,2100000.0,1,0,0,0,0.145861,43561000.0,0.905107,0.004889,0.079143,0.094893,0.905107,1.011955,0.064281,7.769178,0.572576,0.127777,2.557888,0.325558,9.013815,inf,inf,0.142266,0.812218
21,24000.0,0.0,266000.0,0.0,266000.0,0.0,0.0,24000.0,34000.0,232000.0,0.0,232000.0,0.0,0.0,32,32,27,27,27,2,10000.0,1,0,0,0,0.057155,4619000.0,0.992480,0.000000,0.005157,0.007520,0.992480,0.705882,0.090226,7.733333,0.872180,0.200000,0.000000,inf,6.823529,1.146552,0.000000,1.000000,17.496241
22,168000.0,0.0,4425000.0,1673000.0,2752000.0,0.0,763000.0,168000.0,112000.0,5076000.0,0.0,4873000.0,203000.0,0.0,41,41,7,7,7,2,10000.0,2,0,0,0,0.392694,6759000.0,0.964469,0.000000,0.023973,0.035531,0.964469,1.500000,0.032382,21.466960,0.939283,0.259912,0.057752,13.556650,43.508929,0.908065,0.156577,0.677525,1.350810
24,5000.0,0.0,1347000.0,1322000.0,25000.0,0.0,106000.0,5000.0,18000.0,1435000.0,0.0,1423000.0,12000.0,0.0,54,54,12,12,12,2,10000.0,2,0,0,0,0.008550,2794000.0,0.955540,0.025462,0.001710,0.044460,0.955540,0.277778,0.003441,284.600000,0.979353,0.000000,0.091603,2.083333,79.055556,0.946592,0.074491,0.090158,2.012388
25,1683000.0,0.0,21561000.0,3252000.0,18309000.0,0.0,15000.0,1683000.0,15061000.0,8199000.0,0.0,2813000.0,5386000.0,0.0,177,142,1,1,1,2,10000.0,1,0,0,1,0.409094,42665000.0,0.953301,0.000000,0.037605,0.046699,0.953301,0.111746,0.072356,1.669436,0.120937,0.001187,0.293931,3.399369,0.186774,7.664771,0.005332,0.787790,1.924119
27,9000.0,0.0,1576000.0,1576000.0,0.0,0.0,2436000.0,9000.0,11000.0,0.0,0.0,0.0,0.0,0.0,48,48,26,26,26,2,10000.0,5,0,0,0,0.000000,13003000.0,0.996551,0.000000,0.000690,0.003449,0.996551,0.818182,0.818182,0.000000,0.000000,0.181818,0.000000,NaN,0.000000,inf,inf,221.454545,1186.181818
28,11082000.0,45407000.0,42342000.0,41791000.0,551000.0,0.0,1358000.0,11082000.0,76274000.0,12833000.0,11985000.0,0.0,848000.0,0.0,122,122,23,23,23,0,2215329.0,88,0,0,0,0.006382,64235000.0,0.743986,0.000000,0.128355,0.256014,0.743986,0.145292,0.124367,1.081483,0.134501,0.000000,0.444212,0.649764,0.157131,inf,inf,0.021424,0.968936
29,794000.0,0.0,4587000.0,4587000.0,0.0,0.0,177000.0,794000.0,2765000.0,2064000.0,0.0,0.0,2064000.0,0.0,72,72,5,5,5,2,300000.0,1,0,0,0,0.000000,7261000.0,0.939692,0.000000,0.102757,0.060308,0.939692,0.287161,0.164423,0.000000,0.000000,0.034063,11.661017,0.000000,0.000000,inf,inf,0.036654,1.600124
30,965000.0,0.0,6440000.0,4556000.0,1884000.0,0.0,58000.0,965000.0,1224000.0,5274000.0,0.0,1798000.0,3476000.0,0.0,36,36,23,23,23,2,10000.0,1,0,0,1,0.081280,22064000.0,0.951896,0.000000,0.041633,0.048104,0.951896,0.788399,0.148507,1.461789,0.276701,0.215447,1.789907,0.542002,1.468954,3.581758,0.032258,0.298861,3.567098

Заметим, что в некоторых новых признаках присутсвуют знаения inf и nan. Их стоит заменить на 0

In [24]:
train_df_part_2_new_features = train_df_part_2_new_features.fillna(0)
test_df_part_2_new_features = test_df_part_2_new_features.fillna(0)

train_df_part_2_new_features = train_df_part_2_new_features.replace(np.inf,0)
test_df_part_2_new_features = test_df_part_2_new_features.replace(np.inf,0)
train_df_part_2_new_features = train_df_part_2_new_features.replace(-np.inf,0)
test_df_part_2_new_features = test_df_part_2_new_features.replace(-np.inf,0)

In [25]:
def filter_function(X_train,y_train,column_target):
    """
    Функция вычисления t статистики
    """
    grouped = X_train.merge(y_train,left_index=True,right_index=True).groupby(column_target)
    mean_neg = grouped.mean().iloc[0]
    mean_pos = grouped.mean().iloc[1]
    std_neg = grouped.std().iloc[0]
    std_pos = grouped.std().iloc[1]
    count_neg = grouped.count().iloc[0]
    count_pos = grouped.count().iloc[1]
    t = np.abs(mean_pos - mean_neg)/np.sqrt((count_pos*std_pos**2 + count_neg*std_neg**2)/(count_pos+count_neg))
    return t

In [26]:
X_train_part_2 = train_df_part_2_new_features.drop('default_12m',axis = 1) 
y_train_part_2 = train_df_part_2_new_features['default_12m']

X_train_part_1 = train_df_part_1.drop('default_12m',axis = 1) 
y_train_part_1 = train_df_part_1['default_12m']

In [27]:
top_features_part_2 =pd.DataFrame(data = filter_function(X_train_part_2,y_train_part_2,'default_12m').to_dict().items())

In [28]:
top_features_part_2 = top_features_part_2.sort_values(by = 1, ascending=False).reset_index(drop = True)[:25][0].tolist()

In [29]:
top_features_part_1 =pd.DataFrame(data = filter_function(X_train_part_1,y_train_part_1,'default_12m').to_dict().items())

In [30]:
top_features_part_1 = top_features_part_1.sort_values(by = 1, ascending=False).reset_index(drop = True)[:7][0].tolist()

In [31]:
steps = [('smote',SMOTE(random_state=42)),('stand',StandardScaler()), ('model', LogisticRegression(max_iter=1000))]
LGREG = Pipeline(steps=steps)

# Зададим диапазон перебора параметра
parametrs_Logreg = {'model__C':np.logspace(0,-5,20),'smote__k_neighbors':range(2,12)}
# parametrs_Logreg = {'model__C':[0.0006951927961775605],'smote__k_neighbors':[9]}
# Инициализируем кросс-валидационный перебор параметра
grid_Logreg_part_2 = GridSearchCV(LGREG,parametrs_Logreg,scoring='accuracy')
# Обучим модель
grid_Logreg_part_2.fit(X_train_part_2.loc[:,top_features_part_2],y_train_part_2)

GridSearchCV(estimator=Pipeline(steps=[('smote', SMOTE(random_state=42)),
                                       ('stand', StandardScaler()),
                                       ('model',
                                        LogisticRegression(max_iter=1000))]),
             param_grid={'model__C': array([1.00000000e+00, 5.45559478e-01, 2.97635144e-01, 1.62377674e-01,
       8.85866790e-02, 4.83293024e-02, 2.63665090e-02, 1.43844989e-02,
       7.84759970e-03, 4.28133240e-03, 2.33572147e-03, 1.27427499e-03,
       6.95192796e-04, 3.79269019e-04, 2.06913808e-04, 1.12883789e-04,
       6.15848211e-05, 3.35981829e-05, 1.83298071e-05, 1.00000000e-05]),
                         'smote__k_neighbors': range(2, 12)},
             scoring='accuracy')

In [32]:
grid_Logreg_part_2.best_score_

0.5852213740458015

In [33]:
grid_Logreg_part_2.best_params_

{'model__C': 0.000379269019073225, 'smote__k_neighbors': 10}

In [34]:
y_train_part_2.value_counts(normalize=True)

0    0.952611
1    0.047389
Name: default_12m, dtype: float64

In [85]:
steps = [('smote',SMOTE(random_state=42)),('stand',StandardScaler()), ('model', LogisticRegression(max_iter=1000))]
LGREG = Pipeline(steps=steps)

# Зададим диапазон перебора параметра
parametrs_Logreg = {'model__C':np.logspace(0,-5,20),'smote__k_neighbors':range(2,12)}
# Инициализируем кросс-валидационный перебор параметра
grid_Logreg_part_1 = GridSearchCV(LGREG,parametrs_Logreg,scoring='accuracy')
# Обучим модель
grid_Logreg_part_1.fit(X_train_part_1.loc[:,top_features_part_1],y_train_part_1)

GridSearchCV(estimator=Pipeline(steps=[('smote', SMOTE(random_state=42)),
                                       ('stand', StandardScaler()),
                                       ('model',
                                        LogisticRegression(max_iter=1000))]),
             param_grid={'model__C': array([1.00000000e+00, 5.45559478e-01, 2.97635144e-01, 1.62377674e-01,
       8.85866790e-02, 4.83293024e-02, 2.63665090e-02, 1.43844989e-02,
       7.84759970e-03, 4.28133240e-03, 2.33572147e-03, 1.27427499e-03,
       6.95192796e-04, 3.79269019e-04, 2.06913808e-04, 1.12883789e-04,
       6.15848211e-05, 3.35981829e-05, 1.83298071e-05, 1.00000000e-05]),
                         'smote__k_neighbors': range(2, 12)},
             scoring='accuracy')

In [86]:
grid_Logreg_part_1.best_score_

0.6191874694077337

In [38]:
grid_Logreg_part_1.best_params_

{'model__C': 1.0, 'smote__k_neighbors': 4}

In [72]:
preds_part_2 = grid_Logreg_part_2.predict_proba(test_df_part_2_new_features.loc[:,top_features_part_2])
preds_part_1 = grid_Logreg_part_1.predict_proba(test_df_part_1.loc[:,top_features_part_1])

In [78]:
answ_part_1 = pd.DataFrame()
answ_part_1['id'] = test_records_id_part_1
answ_part_1['predict'] = preds_part_1

answ_part_2 = pd.DataFrame()
answ_part_2['id'] = test_records_id_part_2
answ_part_2['predict'] = preds_part_2

answ_df = pd.concat([answ_part_2,answ_part_1],sort=False)

In [79]:
answ_df = answ_df.reset_index(drop = True)

In [80]:
answ_df

         id  predict
0       196        1
1      2813        1
2      4385        1
3      6479        1
4      6726        1
5     21939        1
6     24652        1
7     26235        1
8     29016        1
9     29405        1
10    30467        1
11    30916        1
12    31624        1
13    32056        1
14    34521        1
15    34777        1
16    38972        1
17    40009        1
18    45876        1
19    47192        1
20    50808        1
21    53466        1
22    57994        1
23    64952        1
24    78043        1
25    79306        1
26    83179        1
27    90162        1
28    92944        1
29    95842        1
30   112392        1
31   113120        1
32   113356        1
33   116627        1
34   117125        0
35   119786        1
36   121485        1
37   131839        1
38   134356        1
39   137362        1
40   139017        0
41   144098        1
42   146497        1
43   152597        1
44   153168        1
45   153685        1
46   159784        1
47   169201        1
48   169826        1
49   171255        1
50   173652        1
51   174718        0
52   174839        1
53   176718        1
54   180092        0
55   182821        1
56   188227        1
57   192212        1
58   200841        1
59   201539        1
60   202533        1
61   204226        0
62   211271        1
63   214703        1
64   218266        1
65   222139        1
66   222630        1
67   225013        1
68   236286        1
69   244252        1
70   247938        0
71   248523        1
72   253723        1
73   255669        1
74   256511        1
75   256566        1
76   260063        1
77   260260        1
78   263728        1
79   264010        1
80   265577        1
81   267566        0
82     1196        1
83     9178        1
84    13143        1
85    13547        1
86    18483        1
87    22367        0
88    26923        1
89    27565        1
90    28085        1
91    30403        1
92    30919        1
93    31002        0
94    31266        1
95    31313        1
96    31766        1
97    34295        1
98    40535        1
99    42198        1
100   43460        1
101   47190        1
102   49278        1
103   52800        0
104   54481        0
105   54913        0
106   55905        0
107   62713        1
108   69506        1
109   69617        1
110   70012        1
111   70255        1
112   70259        1
113   76061        1
114   76873        1
115   78731        1
116   80719        1
117   85779        1
118   85906        1
119   89146        0
120   89155        1
121   92204        1
122   92535        1
123   93892        1
124   95482        1
125   95776        1
126   97272        1
127   98373        1
128   98833        0
129   98836        1
130  100485        1
131  105072        1
132  108281        1
133  109220        1
134  109365        1
135  112977        1
136  114972        1
137  117399        1
138  117569        1
139  117987        1
140  125297        1
141  125400        1
142  126723        1
143  126724        1
144  126967        1
145  128204        1
146  135321        1
147  137343        1
148  139743        1
149  152214        1
150  157209        0
151  158854        1
152  161205        1
153  162494        1
154  165048        1
155  165984        1
156  169020        1
157  169817        1
158  170266        1
159  170872        1
160  174577        1
161  177381        1
162  183852        1
163  184827        1
164  184938        1
165  185211        1
166  188270        1
167  190028        1
168  193157        0
169  199885        1
170  202429        0
171  203061        1
172  209914        1
173  210320        1
174  212354        1
175  221272        0
176  221651        1
177  222803        1
178  224226        1
179  226665        1
180  227266        1
181  227799        0
182  233057        1
183  234428        1
184  239686        1
185  240422        1
186  240489        1
187  248391        1
188  251897        1
189  252117        1
190  255780        1
191  255895        1
192  256100        1
193  259029        1
194  260740        1
195  262317        1
196  264052        1
197  266648        0
198  266849        1
199  271584        0

In [82]:
answ_df.to_csv('PD-submit_features_low_thr.csv',index=False, sep=';')